.colonyContainer {
  margin: 0 auto;
  width: 80vw;
  min-height: 500px;
  color: var(--hud-text);
  background-color: var(--hud-background);
  border-radius: 5px;
  & h2 {
    padding-top: 1rem ;
  }
  & .menuContainer {
    padding-bottom: 2rem;
  }
}

@media only screen and (max-width: 600px) {
  .colonyContainer {
    font-size: 0.6rem;
    width: 100vw;
  }
}

@media only screen and (max-width: 400px) {
}