.dropdownContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  & .dropdownOptions {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0;
    background-color: var(--hud-background);
    border: 1px solid var(--hud-text);
    & .dropdownActive {
      color: var(--dropdown-active);
      cursor: unset;
      &:hover {
        color: var(--dropdown-active);
        background-color: unset;
      }
    }
    & li {
      list-style: none;
      cursor: pointer;
      padding: 2px 10px;
      &:hover {
        color: var(--hud-background);
        background-color: var(--hud-text);
      }      
    }
  }
}

@media only screen and (max-width: 600px) {
  .dropdownContainer {
    & .dropdownOptions {
      font-size: 1rem;
    }
  }
}