.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(6px + 2vmin);
  padding: 20px 0;
  color: var(--hud-text);
}

.eliteLogo {
  height: 20vmin;
  pointer-events: none;
  padding-top: 1rem;
}

@media (prefers-reduced-motion: no-preference) {
  .eliteLogo {
    animation: elite-logo-spin infinite 20s linear;
  }
}

@keyframes elite-logo-spin {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}

@media only screen and (max-width: 600px) {
  .header {
    font-size: 0.6rem;
    width: 100vw;
    flex-direction: row;
    justify-content: space-around;
  }
  .eliteLogo {
    height: 10vmin;
  }  
}
